.person_wrapper {
    width: 100%;
    background-color: #404040;
    border-radius: 20px;
    /* border: 1px solid #fff; */
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    align-self: flex-start;
}

.person_info_container {
    width: 100%;
}


.person_item {
    padding: 10px 20px;
    border-bottom: none
}

.person_item:not(:last-child) {
    padding: 10px 20px;
    width: 100%;
    border-bottom: 1px solid #888888;
}
